/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  width: 100%;
  max-width: 100%;
  display: block;
}
